<a href="https://colab.research.google.com/github/gusdn6763/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_2%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# 오픈소스 기반 데이터 분석 2강 - 데이터 분석을 위한 파이썬 1

## 2-1 리스트 슬라이싱

In [3]:
numbers = [10, 20, 30, 40, 50, 60, 70]
# 첫 4개의 원소 출력
first_four = numbers[0:4]
print(first_four)
# 뒤 3개의 원소를 출력
last_three = numbers[-3:]
print(last_three)

[10, 20, 30, 40]
[50, 60, 70]

In [5]:
numbers = [10, 20, 30, 40, 50, 60, 70]

# 홀수번째 항목 출력
every_other_list = numbers[::4]
print(every_other_list)

# 역순 출력
reverse_list = numbers[::-1]
print(reverse_list)

[10, 50]
[70, 60, 50, 40, 30, 20, 10]

In [9]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
]

# 첫 두 행 출력
first_two_rows = matrix[0:2]
print(first_two_rows)

# 첫 두 열 출력
first_two_columns = [row[0:2] for row in matrix]
print(first_two_columns)

[[1, 2, 3, 4], [5, 6, 7, 8]]
[[1, 2], [5, 6], [9, 10], [13, 14]]

## 2-2 리스트 컴프리헨션

In [16]:
numbers = [ ]

# 1 ~ 5 포함 리스트 생성
for i in range(5):
    numbers.append(i)
numbers = [num for num in range(5)]
print(numbers)

[0, 1, 2, 3, 4]

In [18]:
numbers = [1, 2, 3, 4, 5]
squares = [ ]

# numbers의 모든 항목의 값을 제곱한 리스트
for num in numbers:
  squares.append(num ** 2)
squares = [sqr **2 for sqr in numbers]
print(squares)

[1, 4, 9, 16, 25]

In [19]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [ ]

# 짝수만 추출한 리스트
for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)
even_numbers = [num for num in numbers if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [22]:
list1 = ['사과', '복숭아', '바나나']
list2 = ['주스', '잼', '통조림']
pairs = [ ]

# 두 리스트에 포함되 모든 원소를 조합한 투플의 리스트 생성
for fruit in list1:
    for product in list2:
        pairs.append((fruit, product))
pairs = [(fruit, product) for fruit in list1 for product in list2]
print(pairs)

[('사과', '주스'), ('사과', '잼'), ('사과', '통조림'), ('복숭아', '주스'), ('복숭아', '잼'), ('복숭아', '통조림'), ('바나나', '주스'), ('바나나', '잼'), ('바나나', '통조림')]

In [25]:
squares = { }

# 딕셔너리 생성
for i in range(5):
    squares[i] = i ** 2
squares = {i: i** 2 for i in range(5) }
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [29]:
city_population = {
    '서울': 957, '부산': 339, '인천': 294, '대구': 242, '광주': 145, '대전': 147,
    '울산': 114, '세종': 36, '수원': 115, '창원': 103, '고양': 105, '용인': 108, '성남': 94
}

# 인구 200만명 이상의 도시 리스트
large_cities = {city: pop for city, pop in city_population.items()}
print(large_cities)

# 인구 300만 이상 및 이름에 '산'이 포함된 도시 리스트
large_short_name_cities = {city: pop for city, pop in city_population.items() if pop > 300 and "산" in city}
print(large_short_name_cities)

{'서울': 957, '부산': 339, '인천': 294, '대구': 242, '광주': 145, '대전': 147, '울산': 114, '세종': 36, '수원': 115, '창원': 103, '고양': 105, '용인': 108, '성남': 94}
{'부산': 339}

## 2-3 문자열 형식화

In [32]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# C 스타일 문자열 포매팅
# 이름, 나이, 월급 출력
basic_format = "이름: %s, 나이: %d, 월급: %d" % (name, age, salary)

print(basic_format)

이름: 홍길동, 나이: 30, 월급: 3500000.000000
이름: 홍길동, 나이: 30, 월급: 3500000
이름: 홍길동, 나이: 30, 월급: 3500000

In [34]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# str.format 문자열 포매팅
# 이름, 나이, 월급 출력
index_format = "이름: {}, 나이: {}, 월급: {}".format(name, age, salary)

print(index_format)

이름: 홍길동, 나이: 30, 월급: 3500000

In [33]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# f-문자열 포매팅
# 이름, 나이, 월급 출력
keyword_format = f"이름: {name}, 나이: {age}, 월급: {salary}"

print(keyword_format)

이름: 홍길동, 나이: 30, 월급: 3500000

## 2-4 컨텍스트 관리

In [39]:
# 파일 오픈 & 클로즈
file = open('output.txt', 'w')
file.write('Hello, world!\n')
file.close()

In [37]:
# 복수개의 파일(읽기 & 쓰기) 관리
with open('output.txt', 'w') as file_write:
    file_write.write("Hello, world!\n")

In [ ]:
import urllib.request

# URL 연결 관리
('https://raw.githubusercontent.com/jaehwachung/Data-Analysis-with-Open-Source/refs/heads/main/Chapter%203/students.csv')
    data = response.read( ).decode('utf-8')

print(data)